.about{
  /* background-color: rgb(11, 3, 35); */
  background-color: black;
  /* margin: 10px auto; */
}
.firstside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.titleimg{
  width: 100%;
  height: 400px;
  max-width: 500px;
  background-color: rgb(44, 31, 163,0.3);
  border-radius: 30px;
}
.titletext h1{
  font-family: 'Libre Baskerville';
  font-size: 70px;
  font-weight: bolder;
  background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}
.titletext h3{
  color: skyblue;
  font-size: 30px;
  font-weight: 600;
}
.titletext h5{
  color: skyblue;
  font-size: 30px;
  font-weight: 600;
}
.secondside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.titleimg2{
  width: 100%;
  height: 400px;
  max-width: 500px;
  border-radius: 30px;
}
.titletext2 h1{
  font-family: 'Libre Baskerville';
  font-size: 70px;
  font-weight: bolder;
  background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}
.titletext2 h3{
  color: skyblue;
  font-size: 30px;
}
.titletext2 h5{
  color: skyblue;
  font-size: 20px;
}
.thirdside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.titleimg3{
  width: 100%;
  height: 400px;
  max-width: 500px;
  /* background-color: rgb(255, 255, 255,0.3); */
  border-radius: 30px;
}
.titletext3 h1{
  font-family: 'Libre Baskerville';
  font-size: 70px;
  font-weight: bolder;
  background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
  -webkit-background-clip: text;
  color: transparent;
}
.titletext3 h3{
  color: skyblue;
}
.titletext3 h5{
  color: skyblue;
}
.fourside{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 20px; */
}
.titleimg4{
  width: 100%;
  height: 400px;
  max-width: 500px;
  /* background-color: rgb(255, 255, 255,0.3); */
  border-radius: 30px;
}
.titletext4 h1{
  font-family: 'Libre Baskerville';
  font-size: 60px;
  font-weight: bolder;
  background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
  -webkit-background-clip: text;
  color: transparent;
}
.titletext4 h3{
  color: skyblue;
}
.titletext4 h5{
  color: skyblue;
}



@media screen and (min-width:350px) and (max-width:1170px) {
  
  .firstside{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto 20px;
  }
  .secondside{
    display: flex;
    align-items: start;
    flex-direction: column-reverse;
    margin: auto 20px;
  }
  .thirdside{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: auto 20px;
  }
  .fourside{
    display: flex;
    align-items: start;
    flex-direction: column-reverse;
    margin: auto 20px;
  }
  .titletext h5{
    color: skyblue;
    font-size: 20px;
    margin-bottom: 20px;
  }  .titletext2 h5{
    color: skyblue;
    font-size: 20px;
    margin-bottom: 20px;
  }  .titletext3 h5{
    color: skyblue;
    font-size: 20px;
    margin-bottom: 20px;
  }  .titletext4 h5{
    color: skyblue;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width:350px) {
  .titletext4 h1{
    font-size: 40px;
  }
  .titletext3 h1{
    font-size: 40px;
  }
  .titletext2 h1{
    font-size: 40px;
  }
  .titletext h1{
    font-size: 40px;
  }
  .firstside{
    display: flex;
    flex-direction: column;
    margin: auto 20px;
  }
  .secondside{
    display: flex;
    flex-direction: column-reverse;
    margin: auto 20px;
  }
  .thirdside{
    display: flex;
    flex-direction: column;
    margin: auto 20px;
  }
  .fourside{
    display: flex;
    flex-direction: column-reverse;
    margin: auto 20px;
  }
  .titletext h5{
    color: skyblue;
    font-size: 15px;
    margin-bottom: 20px;
  }  .titletext2 h5{
    color: skyblue;
    font-size: 15px;
    margin-bottom: 20px;
  }  .titletext3 h5{
    color: skyblue;
    font-size: 15px;
    margin-bottom: 20px;
  }  .titletext4 h5{
    color: skyblue;
    font-size: 15px;
    margin-bottom: 20px;
  } 
}
.aboutimage{
  width: 100%;
  height: auto;
  /* margin-top: -150px; */
  margin-bottom: 10px;
  /* zoom: 120%; */
}
@media screen and (min-width:701px) and (max-width:1070px) {
  /* .aboutimage{
    width: 100%;
    height: 600px;
  } */
}
@media screen and (max-width:500px) {
  .aboutimage{
    /* width: 500px;
    height: 400px; */
    /* zoom: 70%; */
  }
}
@media screen and (min-width:501px) and (max-width:700px) {
  .aboutimage{
    /* width: 100%;
    height: 650px;
    zoom: 70%; */
  }
}