.Landing2body {
    /* background-color: #000; */
    background-color: black;
    color: #fbf9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.maintitle{
    margin: 0;
    /* color: #ff3366; */
    color: white;
    text-shadow: 5px 5px 20px rgb(32, 8, 250);
    font-size: 4rem;
    background-color: black;
    padding: 20px;
    font-family: 'Caveat';
    text-align: center;
}
.container {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20px;
}

.sub-container{
    display: flex;
    flex-direction: row;
    /* gap: 50px; */
    justify-content: space-around;
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 30px;
}

.step-icon {
    width: 60px;
    height: 60px;
    /* background-color: #fff; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.step-content {
    flex: 1;
}

.step-title {
    font-size: 26px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 15px blue;
}

.step-description {
    font-size: 18px;
}
@media (max-width: 1200px) {
.sub-container{
    display: flex;
    flex-direction: column;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    
}

@media (max-width: 600px) {
    .step {
        flex-direction: column;
        text-align: center;
    }
    
    .step-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
.downimages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #img3{
    width: 300px;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
  }
  #cards{
    /* background-color: rgb(125, 244, 244); */
    /* background-color: #FFE5B4; */
    /* background-color: #F5F5DC; */
    background-color: #71cbe9;
    border-radius: 20px;
    box-shadow:  2px 2px 20px rgb(197, 150, 244) ,2px 2px 20px rgb(187, 167, 249);
}

#h5{
    /* background-color: black; */
    color: #050344;
    font-weight: 700;
    font-size: x-large;
    /* padding: 10px; */
  }
#h5sub{
    font-weight: 700;
}
.bigcards{
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    padding: 20px;
    /* background-color: white; */
    /* background-color: #F1DDDF; */
    background-color: peachpuff;
    border-radius: 10px;
  }

.bigcards-img{
    border-radius: 10px;
    width: 600px;
    height: 300px;
}
@media screen and (max-width:700px) {
    .bigcards{
      display: flex;
      flex-direction: column;
      margin: 20px;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
    }
    .bigcards-img{
        border-radius: 10px;
        width: 300px;
        height: 300px;
    }
  }
@media screen and (max-width:420px) {
    #img3{
        width: 200px;
        height: 250px;
        margin: 10px;
        border-radius: 20px;
        margin:10px auto;
    }
    .bigcards-img{
        border-radius: 10px;
        width: 200px;
        height: 300px;
    }
}
@media screen and (min-width:700px) and (max-width:1200px) {
    .bigcards-img{
        border-radius: 10px;
        width: 1200px;
        height: 300px;
    }
}