/* *{
    margin: 0px;
  } */
  .main-page-container{
    background-image: url(../images/wp12238936.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-page-container input::placeholder { 
    color: white;
  }
  .result-image{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    /* margin-bottom: 100px; */
  }
  .main-page-container h2{
    /* color: rgb(0, 191, 255); */
    color: black;
    text-shadow: 2px 2px 3px white, 5px 5px 3px rgb(5, 13, 250) , 5px 5px 1px green;
    font-size: 110px;
    margin-top: -150px;
  }
  .main-page-container h3{
    color: rgb(251, 252, 252);
    margin: auto;
    /* margin-top: 100px; */
  }
  .main-page-container input{
    margin: 10px;
    padding: 15px;
    outline: none;
    border: none;
    border: 3px solid #ffff;
    background-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
    color: white;
    max-width: 800px;
  }
  .main-page-container button{
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    background-color: white;
    border: none;
    border: 2px solid white;
    border-radius: 10px;
    
  }
  @media screen and (max-width:951px) {
    .main-page-container{
        background-image: url(../images/wp12238936.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      width: 100%;
        height: 125vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    .main-page-container h2{
        /* color: rgb(0, 191, 255); */
        color: black;
        text-shadow: 2px 2px 3px white, 5px 5px 3px rgb(5, 13, 250) , 5px 5px 1px green;
        font-size: 70px
      }
      .main-page-container input{
        margin: 10px;
        padding: 10px;
        outline: none;
        border: none;
        border: 3px solid #ffff;
        background-color: transparent;
        border-radius: 10px;
        font-size: 20px;
        width: 100%;
        margin-bottom: 20px;
        color: white;
        max-width: 800px;
      }
      .main-page-container button{
        padding: 10px;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        background-color: transparent;
        border: none;
        border: 2px solid white;
        border-radius: 10px;
      }
  }
  @media screen and (max-width:341px) {
    .main-page-container{
        background-image: url(../images/wp12238936.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      width: 100%;
        height: 125vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    .main-page-container h2{
        /* color: rgb(0, 191, 255); */
        color: black;
        text-shadow: 2px 2px 3px white, 5px 5px 3px rgb(5, 13, 250) , 5px 5px 1px green;
        font-size: 55px
      }
  }