.mainpolicy{
    background-color: black;
    padding-bottom: 0.2px;
}
.mainpolicy img{
    margin-bottom: 20px;
}
.mainpolicy h3{
    color: white;
    text-align: justify;
    margin: 10px;
}
.mainpolicy h4{
    color: #ff3366;
    text-align: justify;
    margin: 10px;
}
.mainpolicy ol li{
    color: skyblue;
    text-align: justify;
    margin: 10px;
    list-style-type: disc;
}